*{
  background-color: rgb(43, 43, 43);
}
.my-des{
  background-color: rgb(48, 48, 48);
  transition: 0.4s;
  border-radius: 10px;
  font-weight: bold;
}

.my-des:hover{
  background-color: #ffff;
  color: rgb(48, 48, 48) !important;
  font-weight: bold;
}
